.portfolio-box-items {
    margin-top: 50px;
    @include flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid $border-color;
    position: relative;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
        gap: 30px;
    }

    .project-wrap {
        @include flex;
        gap: 80px;

        @include breakpoint (max-lg){
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    .content {
        padding-right: 80px;
        border-right: 1px solid $border-color;

        @include breakpoint (max-xl){
            padding-right: 0;
            border: none;
        }

        span {
            display: inline-block;
            font-weight: 400;
            font-size: 16px;
            color: $white;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 32px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    p {
        max-width: 480px;
    }

    .radius-btn {
        font-size: 18px;
        font-weight: 400;
        color: $white;
        text-align: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid $border-color;
        padding-top: 50px;

        i {
            display: block;
            transform: rotate(-40deg);
            margin-bottom: 5px;
        }

        &:hover {
            background-color: $theme-color;
            color: $header-color;
        }
    }

    .project-hover {
        width: 200px;
        height: 240px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(10deg);
        inset-inline-start: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 75%;
        opacity: 0;
        transition: opacity .3s, transform .7s cubic-bezier(0.23, 1, 0.32, 1);
        margin: -200px 0 0 -50px;
        overflow: hidden;
        pointer-events: none;
        z-index: 2;
        visibility: hidden;
    }

    &:hover {
        .project-hover {
            opacity: 1;
            visibility: visible;
        }
    }
}

.portfolio-image-items {
    position: relative;
    margin-top: 30px;

    &::before {
        @include before;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.90) 100%);
        border-radius: 12px;
    }

    @include breakpoint (max-sm){
        height: 400px;
    }

    img {
        @include imgw;
        border-radius: 12px;
        object-fit: cover;
    }

    .content {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        p {
            font-weight: 400;
            color: $white;
            margin-bottom: 5px;
            font-size: 16px;
        }

        h3 {
            font-size: 32px;

            a {
                -webkit-transition: all .2s ease;
                transition: all .2s ease;
                margin: 0;
                text-transform: none;
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -o-transition: all .5s ease;

                &:hover {
                    background-size: 100% 2px;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--theme)), to(var(--theme)));
                    background-image: linear-gradient(var(--theme), var(--theme));
                    color: var(--theme);
                }
            }
        }
    }
}

.portfolio-section {
    .portfolio-slider {
        margin-left: -10%;
        margin-right: -10%;
    }
}

.portfolio-card-items {
    margin-top: 30px;

    .content {
        margin-bottom: 20px;
        @include flex;
        justify-content: space-between;

        .title-header {
            span {
                display: inline-block;
                font-weight: 400;
                font-size: 16px;
                color: $white;
                margin-bottom: 5px;
            }
    
            h3 {
                font-size: 32px;

                @include breakpoint (max-lg){
                    font-size: 26px;
                }
    
                a {
                    -webkit-transition: all .2s ease;
                    transition: all .2s ease;
                    margin: 0;
                    text-transform: none;
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -o-transition: all .5s ease;
    
                    &:hover {
                        background-size: 100% 2px;
                        background-image: -webkit-gradient(linear, left top, left bottom, from(var(--theme)), to(var(--theme)));
                        background-image: linear-gradient(var(--theme), var(--theme));
                        color: var(--theme);
                    }
                }
            }
        }

        .icon {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            background-color: #2A2A2A;
            color: $white;

            &:hover {
                background-color: $theme-color;
                color: $header-color;
            }
        }
    }

    .thumb {
        img {
            @include imgw;
            border-radius: 8px;
        }
    }
}

.project-details-wrapper {
    .project-details-content {
        h2 {
            font-size: 56px;
            font-weight: 600;

            @include breakpoint (max-sm){
                font-size: 45px;
            }
        }
    }

    .project-category-items {
        ul {
            li {
                font-size: 20px;
                color: $white;
                @include flex;
                justify-content: space-between;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                span {
                    font-size: 18px;
                    color: $text-color;
                    text-align: right;
                    display: block;
                }
            }
        }
    }

    .details-image {
        margin-top: 50px;
        margin-bottom: 50px;

        img {
            @include imgw;
            border-radius: 12px;
        }
    }

    .project-content-2 {
        h2 {
            font-size: 48px;

            @include breakpoint (max-sm){
                font-size: 40px;
            }
        }
    }

    .project-details-content-3 {
        h2 {
            font-size: 40px;

            @include breakpoint (max-sm){
                font-size: 35px;
            }
        }

        .details-list-items {
            display: flex;
            gap: 100px;
            margin-top: 40px;
            margin-bottom: 40px;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 30px;
            }

            ul {
                li {
                    font-size: 18px;

                    &:not(:last-child){
                        margin-bottom: 15px;
                    }

                    i {
                        margin-right: 7px;
                        color: $theme-color;
                    }
                }
            }
        }
    }

    .preview-area {
        margin-top: 50px;
        @include flex;
        justify-content: space-between;

        .preview-item {
            color: $theme-color;
            font-size: 20px;
            font-weight: 600;
            font-family: $heading-font;

            i {
                margin-right: 10px;
            }

            &.style-2 {
                color: $white;

                i {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}